{% extends 'base.html.twig' %}

{% block title %}Détail d'une entreprise{% endblock %}

{% block body %}
    <h1>Détail d'une entreprise</h1>  

    <h2> {{ entreprise }} </h2>
    <p>
        Adresse: {{ entreprise.adresseComplete }} <br>
        {# appel du getter dateCreation qui est un dateTime donc twig possède une fonction qui nous permet d'afficher un dateTime en string #}
        Date de création: {{ entreprise.dateCreation | date('d.m.Y')}}
    </p>

{% endblock %}
